services:
  # 1. Traffic Cop (SSL & Routing)
  nginx-proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
      - '81:81'
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
    networks:
      - app_network

  # 2. Database
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - app_network

  # 3. Backend (Django)
  backend:
    # We PULL the image built by GitHub Actions
    image: ghcr.io/salimmwatsefu/yadi-backend:latest
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000 --workers 2

    env_file:
      - .env

      
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    expose:
      - 8000
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - DEBUG=False
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    depends_on:
      - db
    restart: always
    networks:
      - app_network

  # 4. Frontend (React/Nginx)
  frontend:
    # We PULL the image built by GitHub Actions
    image: ghcr.io/salimmwatsefu/yadi-frontend:latest
    expose:
      - 80
    volumes:
      # Access backend files to serve them
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    networks:
      - app_network

volumes:
  postgres_data:
  static_volume:
  media_volume:
  data:
  letsencrypt:

networks:
  app_network:
    driver: bridge